*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  display: flex;
}

aside{
  position: fixed;
  top: 0;
  bottom: 0;

  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  gap:30px;
  /* width: 5%; */

  background-color: black;
}

aside span{
  display: none;
  color: #888888;
  margin-left: 20px;


  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  font-weight: 700;


}

.mostrar{
  display: inline;
}

.mostrar-flex{
  display: flex;
}

.selecionado {
  color: white;
}

aside button{
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ult-item-aside{
  margin-top: auto;
}
main{
  /* width: 95%; */
  padding-top: 100px;
  text-align: center;
  margin-left: 5%;
  
}

main h1{
  margin-bottom: 43px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;


}

.images{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  gap: 20px;
}


.infos-img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;


  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

}

.infos-img span{
  color: #5C5C5C;

}
.hidden{
  display: none;
}

.modalFoto{
  background: #00000099;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.imgdoModal{
  padding-left: 20%;
  padding-right: 20%;
}




.fecharModal{
  align-self: flex-start;
  position: absolute;
  right: 45px;
  top: 90px;
}


