/* font-family: 'Big Shoulders Display', cursive; */
/* font-family: 'Lexend Deca', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #E5E5E5;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:216px;
  padding-right: 216px;
}

.orange, .blue, .dark-blue {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: #E28625;
  padding: 48px 47px;
  justify-content: flex-start;
  padding-bottom: 30px;
  border-radius: 8px;
}

.blue {
  background-color: #006971;
}
.blue a {
  color: #006971;
}

.dark-blue{
 background-color: #004140;
}

.dark-blue a {
  color: #004140;
 }

img {
  align-self: flex-start;
  margin-bottom: 35px;
}

h1 {
  margin-bottom: 25px;

  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  color: #F2F2F2;
  font-size: 40px;
}
p {
  margin-bottom: 83px;

  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color:  #F2F2F2;
}

a {
  text-decoration: none;
 background-color:#F2F2F2;
 width: 146px;
 border-radius: 25px;
 padding:15px 25px ;
 color: #E28625;
 font-family: 'Lexend Deca', sans-serif;
 font-weight: 400;
 font-size: 15px;
}