/* .container-header{
  background: linear-gradient(90deg, rgba(5,237,227,1) 9%, rgba(0,212,255,1) 20%, rgba(100,96,251,1) 96%);
} */



.container-header img {
  padding: 40px;
}


.container-header{
  height: 300px;
  background: linear-gradient(90deg, rgba(5,237,227,1) 9%, rgba(0,212,255,1) 20%, rgba(100,96,251,1) 96%);
}