body, #root{
  width: 100%;
  min-height: 100vh;
}


.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
  flex-wrap: wrap;
}

.pais{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  background-color: aqua;

  border-radius: 5px;
  padding: 8px;
}


.pais__flag{
  width: 90px;
}