*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #FFFAF2;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-evenly;
  align-items: center;
}

.card-1 {
  display: flex;
  flex-direction: column;
  max-width:519px;
  background-color: #FFF;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px 2px 17px 0px #E5E5E5;
}

.images-card1 {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 89px 85px 89px;
}

.feliz, .neutro, .triste {
  display: flex;
  flex-direction: column;
  Width:75px;
  Height:95px;
  margin-right: 67px;
}
.feliz {
  margin-right: 0;
}

.images-card1 img {
  margin-bottom: 15px;
}

.card-1 h1 {
  margin: 0px 90px 75px 95px;
  font-weight: 700;
  font-size: 18px;
  color: #212D59;
}

.btn-fechar {
  display: block;
  align-self:flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.card-1 a {
  text-decoration: none;
  display: inline-block;
  margin: 0px 155px 55px 155px;
  background-color: #2F2D2C;
  padding: 18px 82px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}


span {
  font-size: 16px;
  font-weight: 500;
  color: #9097AD;
}






.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 402px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 17px 0px #E5E5E5;
}

.card-2 .coração {
  margin: 1px 172px 15px 172px;
   
}

.card-2 h1 {
  margin: 0px 113px 40px 113px;
  font-weight: 700;
  font-size: 18px;
   
}

.card-2 p {
  margin: 0px 63px 40px 63px;
  font-weight: 500;
  font-size: 16px;
   
}

.card-2 a {
  display: inline-block;
  text-decoration: none;
  background-color: #2F2D2C;
  color: white;
  padding: 18px 44px;
  border-radius: 8px;
  margin:0px 0px 35px 34px ;
}
